*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;

}

.navstyle{
    font-style: oblique;
    display: flex;
    list-style: none;
    line-height: 4rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #D9D9D9;
}

.titleDay{
    text-align: center;
    margin-top: 5rem;
}

.datainput{
    background-color: #D9D9D9;
    border: none;
    width: 19rem;
    height: 2rem;
    margin-top: 4rem;
    margin-left: 18rem;
    display: flex;
}

.datainput{
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.iconeListagem{
    display: flex;
}

.turno {
    border: none;
    width: 19rem;
    height: 2rem;
    margin-top: 3.3rem;
    margin-left: 3rem;
}

.inputTurnos {
    border: none;
    background-color: #D9D9D9;
    width: fit-content;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 4rem;
    padding-left: 1rem;
}

.table{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.tableHead{
    background-color: gray;
    line-height: 5rem;
}

.tableHead table th tr{
    width: 2rem;
}

.linhaTabela{
    width: 20rem;
}

.linhaTabela2{
    font-weight: normal;
    padding-bottom: 1rem;
    height: 5rem;
    width: 20rem;
    padding-top: 1rem;
    background-color: #D9D9D9;
}

.finalPage{
    margin-top: 5rem;
}

.user img{
    mar
}